{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Toutes les toplines!{% endblock %}

{% block body %}

<div class="main">

{% for topline in toplines %}
    Titre: {{topline.title}}
    Auteur: {{topline.user.name}}
    Date d'upload: {{ topline.createdAt ? topline.createdAt|date('d/m/Y H:i') : '' }}
    Modification: {{ topline.modifiedAt ? topline.modifiedAt|date('d/m/Y H:i') : '' }}
    {# Audio: <audio preload src="{{asset('uploads/topline/' ~ topline.file) }}" controls id="player_1"></audio> #}
{% endfor %}

</div>
{% endblock %}
