{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-profile') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user-profile') }}
{% endblock %}

{% block title %}Profil{% endblock %}

{% block body %}

    <div class="main">
        <div class="side-nav">
            <nav>
                <ul>
                    <li>
                        <button href="#!" class="tablinks" id="prof-link">Profil</button>
                    </li>
                    <li>
                        <button href="#!" class="tablinks" id="contrib-link">Contributions</button>
                    </li>
                    <li>
                        <button href="#!" class="tablinks" id="fav-link">Favoris</button>
                    </li>
                    <li>
                        <button href="#!" class="tablinks" id="mess-link">Mes annonces</button>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <div id="profil" class="tabcontent" style="display: block">
                <h2>Profil</h2>
                <div class="user-block">
                    {{ form_start(profileForm, {'attr': {'novalidate': 'novalidate'}}) }}

                    <h3>Photo de profil</h3>
                    <div class="attr-block avatar">
                        <div class="title-block">
                            {% if app.user.avatar %}
                                    <p> <img src="{# dossier uploads/ => app.user.avatar.file #}"> </p> 
                                {% else %}
                            {% endif %}
                        </div>
                        <div class="edit-button">
                            <a href="" class="btn-secondary formbuttons" id="avatar-button">Modifier</a>
                        </div>
                        <div class="edit-block formsection hidden" id="edit-avatar">
                            <div class="input-group">
                                {{form_widget(profileForm.avatar)}}
                            </div>
                            <div class="input-group">
                                <input type="submit" class="btn-primary" value="Valider">
                            </div>
                        </div>
                    </div>

                    <h3>Pseudonyme</h3>
                    <div class="attr-block name">
                        <div class="title-block">
                            <p> {{app.user.name}} </p>
                        </div>
                        <div class="edit-button">
                            <a href="" class="btn-secondary formbuttons" id="name-button">Modifier</a>
                        </div>
                        <div class="edit-block formsection hidden" id="edit-name">
                            <div class="input-group">
                                {{form_widget(profileForm.name)}}
                                {{form_errors(profileForm.name)}}
                            </div>
                            <div class="input-group">
                                <input type="submit" class="btn-primary" value="Valider">
                            </div>
                        </div>
                    </div>

                    <h3>Informations personnelles</h3>
                    <div class="global-attr-block">
                        <p>Adresse e-mail</p>
                        <div class="attr-block global email">
                            <div class="title-block">
                                <p> {{app.user.email}} </p>
                            </div>
                            <div class="edit-button">
                                <a href="" class="btn-secondary formbuttons" id="email-button">Modifier</a>
                            </div>
                            <div class="edit-block formsection hidden" id="edit-email">
                                <div class="input-group">
                                    {{form_widget(profileForm.email)}}
                                    {{form_errors(profileForm.email)}}
                                </div>
                                <div class="input-group">
                                    <input type="submit" class="btn-primary" value="Valider">
                                </div>
                            </div>
                        </div>
                        
                        <p>Ville</p>
                        <div class="attr-block global town">
                            <div class="title-block">
                                <p> {{app.user.town}} </p>
                            </div>
                            <div class="edit-button">
                                <a href="" class="btn-secondary formbuttons" id="town-button">Modifier</a>
                            </div>
                            <div class="edit-block formsection hidden" id="edit-town">
                                <div class="input-group">
                                    {{form_widget(profileForm.town)}}
                                    {{form_errors(profileForm.town)}}
                                </div>
                                <div class="input-group">
                                    <input type="submit" class="btn-primary" value="Valider">
                                </div>
                            </div>
                        </div>

                        <p>Téléphone</p>
                        <div class="attr-block global phone">
                            <div class="title-block">
                                <p> {{app.user.phone}} </p>
                            </div>
                            <div class="edit-button">
                                <a href="" class="btn-secondary formbuttons" id="phone-button">Modifier</a>
                            </div>
                            <div class="edit-block formsection hidden" id="edit-phone">
                                <div class="input-group">
                                    {{form_widget(profileForm.phone)}}
                                    {{form_errors(profileForm.phone)}}
                                </div>
                                <div class="input-group">
                                    <input type="submit" class="btn-primary" value="Valider">
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3>A propos de moi</h3>
                    <div class="attr-block description">
                        <div class="title-block">
                            {% if app.user.bio %}
                                    <p> {{ app.user.bio }} </p>  
                                {% else %}
                            {% endif %}
                        </div>
                        <div class="edit-button">
                            <a href="" class="btn-secondary formbuttons" id="desc-button">Modifier</a>
                        </div>
                        <div class="edit-block formsection hidden" id="edit-desc">
                            <div class="input-group">
                                {{form_widget(profileForm.bio, {'attr': {'placeholder': 'Courte description...'}})}}
                                {{form_errors(profileForm.bio)}}
                            </div>
                            <div class="input-group">
                                <input type="submit" class="btn-primary" value="Valider">
                            </div>
                        </div>
                    </div>

                    <h3>Activités sur le réseau</h3>
                    <div class="attr-block competence">
                        <div class="title-block">
                            {% if app.user.competences %}
                                    {% for competence in app.user.competences %}
                                        <p> {{competence.title}} </p>  
                                    {% endfor %}
                                {% else %}
                            {% endif %}
                        </div>
                        <div class="edit-button">
                            <a href="" class="btn-secondary formbuttons" id="competence-button">Modifier</a>
                        </div>
                        <div class="edit-block formsection hidden" id="edit-competence">
                            <div class="input-group">
                                <label for="competences">Ajouter des compétences</label>
                                {{form_widget(profileForm.competences)}}
                                {{form_errors(profileForm.competences)}}
                            </div>
                            <div class="input-group">
                                <input type="submit" class="btn-primary" value="Valider">
                            </div>
                        </div>
                    </div>

                    <h3>Paramètres</h3>
                    <div class="global-attr-block">
                        <div class="attr-block global account">
                            <div class="title-block">
                                <p> Supprimer mon compte </p>
                            </div>
                            <div class="edit-button">
                                <a href="" class="btn-secondary formbuttons" id="delete-button">Supprimer</a>
                            </div>
                            <div class="delete-block formsection hidden" id="delete">
                                <div class="input-group">
                                    <label for="delete-message">Motif</label>
                                    {{form_widget(profileForm.deleteReason)}}
                                    {{form_errors(profileForm.deleteReason)}}
                                </div>
                                <div class="input-group">
                                    <input type="submit" class="btn-primary" value="Confirmer">
                                </div>
                            </div>
                        </div>
                        
                        <div class="attr-block account">    
                            <div class="title-block">
                                <p> Modifier mon mot de passe </p>
                            </div>
                            <div class="edit-button">
                                <a href="" class="btn-secondary formbuttons" id="password-button">Modifier</a>
                            </div>
                            <div class="edit-block formsection hidden" id="edit-password">
                                <div class="input-group">
                                    <label for="old-password">Mot de passe actuel</label>
                                    {# {{form_widget(profileForm.oldPassword)}}
                                    {{form_errors(profileForm.oldPassword)}} #}
                                </div>
                                <div class="input-group">
                                    <label for="password">Nouveau mot de passe</label>
                                    {{form_widget(profileForm.newPassword.first)}}
                                    {{form_errors(profileForm.newPassword.first)}}
                                </div>
                                <div class="input-group">
                                    <label for="password">Confirmer</label>
                                    {{form_widget(profileForm.newPassword.second)}}
                                    {{form_errors(profileForm.newPassword.second)}}
                                </div>
                                <div class="input-group">
                                    <input type="submit" class="btn-primary" value="Valider">
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(profileForm) }}
                </div>
            </div>

            <div id="contributions" class="tabcontent" style="display: none">
                <h2>Contributions</h2>
            </div>

            <div id="favoris" class="tabcontent" style="display: none">
                <h2>Favoris</h2>
            </div>

            <div id="annonces" class="tabcontent" style="display: none">
                <h2>Mes annonces</h2>
                <div><a class="link" href="{{path('annonces_new')}}">Poster une nouvelle annonce</a></div>
                <div>
                    {% for annonce in app.user.annonces %}
                        <div>
                            <h4> {{annonce.title}} </h4>
                            <p> {{ annonce.createdAt ? annonce.createdAt|date('d/m/Y') : '' }} </p>
                            <p> {{ annonce.createdAt ? annonce.modifiedAt|date('H:i') : '' }} </p>
                            <p> {% if annonce.status == 'draft' %}
                                    Brouillon
                                {% endif %}
                                {% if annonce.status == 'published' %}
                                    Publié
                                {% endif %}
                            </p>
                            <a class="btn-primary" href="{{ path('annonces_edit', {'id': annonce.id}) }}">Modifier</a>
                        </div>
                    {% endfor %}
                </div>
            </div>  

        </div>
    </div>

{% endblock %}