{% extends 'admin-base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Utilisateurs</h1>
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Rechercher</button>
					                    </div>
					                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <a class="btn app-btn-secondary mb-3" href="{{ path('user_new') }}">Enregistrer un nouvel utilisateur</a>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Identifiant</th>
                                                <th class="cell">Email</th>
                                                <th class="cell">Roles</th>
                                                <th class="cell">Nom</th>
                                                <th class="cell">Inscription confirmée</th>
                                                <th class="cell">Actif</th>
                                                <th class="cell">Date d'inscription</th>
                                                <th class="cell">Dernière modification</th>
                                                <th class="cell">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td class="cell">#{{ user.id }}</td>
                                                <td class="cell">{{ user.email }}</td>
                                                <td class="cell">
                                                    {% if 'ROLE_ADMIN' in user.roles %}
                                                        <span> Administrateur </span><br>
                                                    {% endif %}
                                                    {% if 'ROLE_USER' in user.roles %}
                                                        <span> Utilisateur </span><br>
                                                    {% endif %}
                                                </td>
                                                <td class="cell">{{ user.name }}</td>
                                                <td class="cell">
                                                    {% if user.valid %}
                                                        <span class="badge bg-success">Oui</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">Non</span>
                                                    {% endif %}
                                                <td class="cell">
                                                    {% if user.actif %}
                                                        <span class="badge bg-success">Oui</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">Non</span>
                                                    {% endif %}
                                                </td>
                                                <td class="cell">
                                                    <span class="cell-data">{{ user.createdAt ? user.createdAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ user.createdAt ? user.createdAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell"><span class="cell-data">{{ user.modifiedAt ? user.modifiedAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ user.modifiedAt ? user.modifiedAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell">
                                                    <div class="d-flex align-center">
                                                        <a href="{{ path('user_show', {'id': user.id}) }}"  class="btn-sm app-btn-secondary"><i class="far fa-eye"></i></a>
                                                        <a href="{{ path('user_edit', {'id': user.id}) }}"  class="btn-sm app-btn-secondary"><i class="far fa-edit"></i></a>
                                                        <form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                                            <button class="btn-sm app-btn-secondary"><i class="far fa-trash-alt"></i></button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td class="cell" colspan="9">Aucun résultat trouvé</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {{include('admin/admin_pagination.html.twig')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                
{% endblock %}
