{% extends 'auth-base.html.twig' %}

{% block title %}KeepVibz | Connexion{% endblock %}

{% block body %}
    <div class="wrap">
        <div>
            <h1>Connexion</h1>
        </div>
        
        <form method="post" class="login-form" novalidate>
            {% if error %}
                <div class="invalid-feedback d-block">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="input-group">
                <label for="inputEmail"><span><i class="fas fa-envelope"></i></span> Adresse e-mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            
            <div class="input-group">
                <label for="inputPassword"><span><i class="fas fa-unlock-alt"></i></span> Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>   
            <div class="input-group">
                <p><a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a></p>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            <div class="input-group">
                <label class="container">
                    <input type="checkbox" name="_remember_me"><span class="checkbox-label">Maintenir la connexion</span>
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="input-group">
                <button class="btn btn-lg btn-primary" type="submit">Se connecter <i class="fas fa-sign-in-alt"></i></button>
            </div>
            <div class="input-group">
                <p>Vous ne disposez pas encore d'un compte ? <a href="{{path('app_register')}}">Inscrivez-vous</a>.</p>
            </div>
        </form>
    </div>
{% endblock %}
