{% extends 'base.html.twig' %}

{% block title %}Keepvibz | Modifier {{instru.title}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user-profile') }}
{% endblock %}


{% block body %}
    <div class="main">
    <a class="link" href="{{path('user_profile')}}">Retour</a>
        <div class="form-wrap">
            <h1 class="main-title">Modifier ce morceau</h1>
                {{ include('instrus/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
                {{ include('instrus/_delete_form.html.twig') }}
        </div>
        
    </div>
{% endblock %}
