{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Toutes les instrus !{% endblock %}

{% block body %}
    <div class="main_instrus">
        <div class="section_instrus">
            <div class="container_instrus pr">

                <div class="sidebar_instrus">
                    <div class="content_sidebar flex col aic">
                        <div class="genre">
                            <div class="wrap2">
                                <div class="search flex fs">
                                    <form id="search_form" class="search_form" action="{{path('filter_instru')}}">
                                        <div class="input-group flex sb aic">
                                            <div id="filter_btn" class="filtres" style="cursor: pointer">
                                                <p>Genre <i class="fas fa-chevron-down"></i></p>
                                            </div>
                                            <input type="text" name="search" id="search" placeholder="Tapes ta recherche">
                                            <button type="submit" class="btn_search" style="cursor: pointer"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div id="filter_block" class="block_filters">
                                            <div class="filters">
                                                    <div id="instru_genre" class="flex sb">
                                                        <div class="form-check">
                                                            <input type="checkbox" id="instru_genre_0" name="instru[genre][]" class="form-check-input" value="Hip Hop" />
                                                            <label class="form-check-label" for="instru_genre_0">Hip-Hop</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="instru_genre_1" name="instru[genre][]" class="form-check-input" value="trap" />
                                                            <label class="form-check-label" for="instru_genre_1">Trap</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="instru_genre_2" name="instru[genre][]" class="form-check-input" value="r&#039;n&#039;b" />
                                                            <label class="form-check-label" for="instru_genre_2">R&#039;n&#039;B</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="instru_genre_3" name="instru[genre][]" class="form-check-input" value="pop" />
                                                            <label class="form-check-label" for="instru_genre_3">Pop</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input type="checkbox" id="instru_genre_4" name="instru[genre][]" class="form-check-input" value="autre" />
                                                            <label class="form-check-label" for="instru_genre_4">Autre</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right_content flex col">
                    <h2 class="title_instrus">Instrus</h2>
                    <div class="content_instrus flex fs fw">
                        {% for beat in instrus %}
                            <li class="content_download_instrus flex col tac pr">
                                <audio class="player_audio_selected audio_player" preload src="{{ asset('uploads/instrus/' ~ beat.file) }}" controls id="player_{{ beat.id }}"></audio>
                                <div class="image_downloaded">
                                    <a href="{{path('instru_show', {'id': beat.id})}}">
                                        {% if beat.image == null %}
                                            <img class="img_downloaded" src="{{asset('uploads/images/instrus/instru.jpg')}}" alt="{{ beat.title }}">
                                        {% else %}
                                            <img class="img_downloaded" src="{{ asset('uploads/images/instrus/' ~ beat.image) }}" alt="{{ beat.title }}">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="btn_play_caroussel btn"  id="btn_ref_{{ beat.id }}">
                                    <img class="img_play_caroussel" src="{{asset('assets/images/icons/play.png')}}" alt="bouton de lecture audio">
                                </div>
                                <div class="block_info_instrus flex col">
                                    <h4 class="title_downloaded">Titre : <span class="span_downloaded">{{ beat.title }}</span></h4>
                                    <h4 class="genre_downloaded">Genre : <span class="span_downloaded">
                                        {% for genre in beat.genre %}
                                            {{ genre }}
                                        {% endfor %}
                                    </h4>
                                    <h4 class="description_downloaded">Key : <span class="span_downloaded">{{ beat.cle }}</span> - <span class="span_downloaded">{{ beat.bpm }}</span> BPM</h4>
                                    <h4 class="author_downloaded">Auteur : <span class="span_downloaded">{{ beat.user.name }}</span></h4>

                                </div>
                            </li>
                        {% endfor %}
                    </div>
                    <div class="block_pagination">
                        {# PAGINATION #}
                        {{ include('pagination.html.twig') }};
                        {# PAGINATION #}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
