{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Toutes les instrus !{% endblock %}

{% block body %}
    <div class="main_instrus">
        <div class="section_instrus flex sb">
            <div class="container_instrus pr">
                <div class="sidebar_instrus pa">
                    <div class="content_sidebar flex col aic">
                        <div class="genre flex col aic">
                            <h4 class="title_instrus_genre">Genre<img class="btn_genre" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu Genre"></h4>
                            <div class="block_genre_instrus flex col">
                                <div class="block_genre">
                                    <div class="submenu_genre flex col">
                                        <label for="genre_1">Hip Hop</label>
                                        <input type="checkbox" id="genre_1" name="genre_1" value="genre_1">
                                        <label for="genre_2">Trap</label>
                                        <input type="checkbox" id="genre_2" name="genre_2" value="genre_2">
                                        <label for="genre_3">HRnB</label>
                                        <input type="checkbox" id="genre_3" name="genre_3" value="genre_3">
                                        <label for="genre_4">Pop</label>
                                        <input type="checkbox" id="genre_4" name="genre_4" value="genre_4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="keys flex col aic">
                            <h4 class="title_instrus_keys">Clés</h4>
                            <div class="select select_instrus_keyz flex col">
                                <select name="slct1" id="slct1">
                                    <option selected disabled>Choisis une clé</option>
                                    <option value="1">Am</option>
                                    <option value="2">Bm</option>
                                    <option value="3">Cmin</option>
                                    <option value="4">E</option>
                                </select>
                            </div>
                        </div>
                        <div class="submit">
                            <button class="bouton_filter" ><img class="img_bouton_filter" src="{{asset('assets/images/icons/arrow-right-8-64.png')}}" alt="bouton pour filtrer la recherche"></button>
                        </div>
                    </div>
                </div>
                <div class="right_content flex col">
                    <h2 class="title_instrus">Instrus</h2>
                    <div class="content_instrus flex sb fw">
                        {% for beat in instrus %}
                            <li class="content_download_instrus flex col pr">
                                <audio preload src="{{ asset('uploads/images' ~ beat.file) }}" controls id="player_1"></audio>
                                <div class="image_downloaded">
                                    <a href="{{path('instru_show', {'id': instru.id})}}">
                                        <img class="img_downloaded" src="{{ beat.image }}" alt="">
                                    </a>
                                </div>
                                <div class="btn_play_caroussel btn_1">
                                    <img class="img_play_caroussel" src="{{ asset('uploads/images' ~ beat.image) }}" alt="">
                                </div>
                                <div class="block_info_instrus flex col">
                                    <h4 class="date_ajout_downloaded">Titre : <span class="span_downloaded">{{ beat.title }}</span></h4>
                                    <h4 class="genre_downloaded">Genre : <span class="span_downloaded">{{ beat.genre }}</span></h4>
                                    <h4 class="description_downloaded">Key : <span class="span_downloaded">{{ beat.cle }}</span> - <span class="span_downloaded">{{ beat.bpm }}</span> BPM</h4>
                                </div>
                            </li>
                        {% endfor %}
                    </div>
                </div>

            </div>

            </div>
        </div>

    </div>
{% endblock %}
