{% extends 'base.html.twig' %}

{% block title %}KeepVibz | {{ instru.title }}{% endblock %}

{% block body %}
<section class="instru_show">
    <div class="top_content flex col">
        <div class="up_content_img">
            <img src="{{ asset('uploads/images/instrus/' ~ instru.image) }}" alt="{{ instru.title }}" class="image_content_show_instru"></div>
        <div class="down_content flex col">
            <audio preload src="{{ asset('uploads/instrus/' ~ instru.file) }}" controls id="player_1"></audio>
            <div class="top_down_content_show_instru flex fw">
                <div class="btn_play_caroussel btn_1">
                    <img class="img_play_caroussel" src="{{asset('assets/images/icons/play.png')}}" alt="bouton de lecture audio">
                </div>
                <p class="title_content_show_instru">{{ instru.title }}</p>
                <p class="author_content_show_instru">par <span class="name_author_content_show_instru">{{ instru.user.name }}</span></p>
                <div class="details_content_show_instru">
                    <p class="genre_content_show_instru">
                    {% for genre in instru.genre %}
                        {{ genre }}
                    {% endfor %}
                    </p>
                    <p class="bpm_content_show_instru">{{ instru.bpm }} BPM</p>
                    <p class="key_content_show_instru">Key: {{ instru.cle }}</p>
                    <p class="nombre_content_show_instru">(nombres DYNAMIQUE) lectures</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom_content flex col">
        {% for beats in instru.user.instrus %}
        <div class="others_instrus_author">
            <div class="left_others_instrus_author">
                <div class="btn_play_caroussel btn_1">
                    <img class="img_play_caroussel" src="{{asset('assets/images/icons/play.png')}}" alt="bouton de lecture audio">
                </div>
                <div class="block_image_instru_author">
                    <img src="{{ asset('uploads/images/instrus/' ~ beats.image) }}" alt="{{ beats.title }}" class="img_instru_author">
                </div>
            </div>
            <div class="right_others_instrus_author flex col">
                <div class="top_right_others_instrus_author">
                    <p class="title_others_instrus_author">{{ beats.title }}</p>
                </div>
                <div class="bottom_right_others_instrus_author flex ">
                    <p class="user_others_instrus_author">par <span class="name_others_instrus_author">{{ beats.user.name }}</span></p>
                    <p class="separator_others_instrus_author"> | </p>
                    <p class="bpm_others_instrus_author">{{ beats.bpm }} BPM</p>
                    <p class="nombre_lecture_others_instrus_author">(nombres DYNAMIQUE) lectures</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
    {{ include('instrus/_delete_form.html.twig') }}
</div>
{% endblock %}
