{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<style>body {color: #fff} .link {color: #A27440} .main {margin-top: 150px}</style>
    <div class="main">
        <div><a class="link" href="{{path('annonces_new')}}">Poster une nouvelle annonce</a></div>
        <div> 
            {# Système de filtre => par catégorie, par région, par titre #}
        </div>
        <div class="container">
            {% for annonce in annonces %}
                {% if annonce.status == 'published' %}
                    {% for category in annonce.categories %}
                        {% if annonce.title == 'Collaboration' %}
                            <div class="collab">
                                <div>
                                    <div>
                                        <div>
                                            <h2> {{annonce.title}} </h2>
                                            <p> {{category.title}} </p>
                                            <p> {{annonce.user.name}} </p>
                                        </div>
                                        <div>
                                            <p> {{ annonce.createdAt ? annonce.createdAt|date('d/m/Y') : '' }} </p>
                                            <p> {{ annonce.createdAt ? annonce.modifiedAt|date('H:i') : '' }} </p>
                                        </div>
                                    </div>
                                    <div>
                                        <p> {{annonce.region.title}} </p>
                                        <p> {{annonce.description}} </p>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <h2> Me contacter </h2>
                                        </div>
                                        <div>
                                            <p> {{annonce.user.email}} </p>
                                        </div>
                                    </div>
                                    <div>
                                        {% if annonce.user.phone %}
                                            <button>Téléphone</button>
                                            <p> {{annonce.user.phone}} </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for category in annonce.categories %}
                        {% if category.title == 'Evènement' %}
                            <div class="evt">
                                <div>
                                    <div>
                                        <div>
                                            <h2> {{annonce.title}} </h2>
                                            <p> {{category.title}} </p>
                                            <p> {{annonce.user.name}} </p>
                                        </div>
                                        <div>
                                            <p> {{ annonce.createdAt ? annonce.createdAt|date('d/m/Y') : '' }} </p>
                                            <p> {{ annonce.createdAt ? annonce.modifiedAt|date('H:i') : '' }} </p>
                                        </div>
                                    </div>
                                    <div>
                                        <p> {{annonce.region.title}} </p>
                                        <p> {{annonce.description}} </p>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <h2> Me contacter </h2>
                                        </div>
                                        <div>
                                            <p> {{annonce.user.email}} </p>
                                        </div>
                                    </div>
                                    <div>
                                        {% if annonce.user.phone %}
                                            <button>Téléphone</button>
                                            <p> {{annonce.user.phone}} </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for category in annonce.categories %}
                        {% if category.title == 'Studio d\'enregistrement' %}
                            <div class="stud">
                                <div>
                                    <div>
                                        <div>
                                            <h2> {{annonce.title}} </h2>
                                            <p> {{category.title}} </p>
                                            <p> {{annonce.user.name}} </p>
                                        </div>
                                        <div>
                                            <p> {{ annonce.createdAt ? annonce.createdAt|date('d/m/Y') : '' }} </p>
                                            <p> {{ annonce.createdAt ? annonce.modifiedAt|date('H:i') : '' }} </p>
                                        </div>
                                    </div>
                                    <div>
                                        <p> {{annonce.region.title}} </p>
                                        <p> {{annonce.description}} </p>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div>
                                            <h2> Me contacter </h2>
                                        </div>
                                        <div>
                                            <p> {{annonce.user.email}} </p>
                                        </div>
                                    </div>
                                    <div>
                                        {% if annonce.user.phone %}
                                            <button>Téléphone</button>
                                            <p> {{annonce.user.phone}} </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            
            {{include('pagination.html.twig')}}
        </div>
    </div>

{% endblock %}
