{% extends 'admin-base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Compétences</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Rechercher</button>
					                    </div>
					                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <a class="btn app-btn-secondary mb-3" href="{{ path('competence_new') }}">Ajouter une compétence</a>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Référence</th>
                                                <th class="cell">Nom</th>
                                                <th class="cell">Actif</th>
                                                <th class="cell">Date d'ajout</th>
                                                <th class="cell">Dernière modification</th>
                                                <th class="cell">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for competence in competences %}
                                            <tr>
                                                <td class="cell">#{{ competence.id }}</td>
                                                <td class="cell">{{ competence.title }}</td>
                                                <td class="cell">
                                                    {% if competence.actif %}
                                                        <span class="badge bg-success">Oui</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">Non</span>
                                                    {% endif %}
                                                </td>
                                                <td class="cell">
                                                    <span class="cell-data">{{ competence.createdAt ? competence.createdAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ competence.createdAt ? competence.createdAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell"><span class="cell-data">{{ competence.modifiedAt ? competence.modifiedAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ competence.modifiedAt ? competence.modifiedAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell">
                                                    <a href="{{ path('competence_show', {'id': competence.id}) }}" class="btn-sm app-btn-secondary">Détails</a>
                                                    <a href="{{ path('competence_edit', {'id': competence.id}) }}" class="btn-sm app-btn-secondary">Modifier</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td  class="cell" colspan="5">Aucun résultat trouvé</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {{include('pagination.html.twig')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
