{% extends 'admin-base.html.twig' %}

{% block title %}{{competence.title}}{% endblock %}

{% block body %}
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Détail</h1>
				    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <tbody>
                                            <tr>
                                                <th class="cell">Référence</th>
                                                <td class="cell">#{{ competence.id }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Nom</th>
                                                <td class="cell">{{ competence.title }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Actif</th>
                                                <td class="cell">
                                                    {% if user.actif %}
                                                        <span class="badge bg-success">Oui</span>
                                                        {% else %}
                                                            <span class="badge bg-danger">Non</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Date d'ajout'</th>
                                                <td class="cell">{{ competence.createdAt ? competence.createdAt|date('d/m/Y, H:i') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Dernière modification</th>
                                                <td class="cell">{{ competence.modifiedAt ? competence.modifiedAt|date('d/m/Y, H:i') : '' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-auto">
                                                <a class="btn app-btn-secondary" href="{{ path('competence_edit', {'id': competence.id}) }}">Modifier</a>
                                            </div>
                                            <div class="col-auto">
                                                {{ include('admin/competence/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
