{% extends 'base.html.twig' %}

{% block title %}KeepVibz | Tout les textes !{% endblock %}

{% block body %}
    <div class="main_textes">
        <div class="section_textes flex sb">
            <div class="content_textes pr">
                    <h2 class="title_textes">Textes</h2>
                    <div class="block_all_textes flex col">
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li class="block_textes flex sb fw">
                            <a class="link_text flex aic" href="#">
                                <div class="avatar_image_block">
                                    <img src="{{asset('assets/images/icons/avatar.png')}}" alt="avatar du User" class="avatar_image">
                                </div>
                                <div class="description_textes">
                                    <h3 class="title_texte">Titre</h3>
                                    <h3 class="author_textes">Auteur</h3>
                                </div>
                                <div class="instrus_associees flex">
                                    <p class="title_instrus_associees">Instrus associées: </p>
                                    <ul class="block_instrus_associees flex aic">
                                        <li class="link_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 1</a></li>
                                        <li class="link_instru_associee link_2_instru_associee"><a href="#" class="titre_instru_associee">Titre - Instru 2</a></li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
