{% extends 'base.html.twig' %}

{% block title %}Audio{% endblock %}

{% block body %}
    <h1>Audio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audio.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ audio.type ? audio.type|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ audio.file }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ audio.description }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ audio.createdAt ? audio.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modified_at</th>
                <td>{{ audio.modifiedAt ? audio.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted_at</th>
                <td>{{ audio.deletedAt ? audio.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('audio_index') }}">back to list</a>

    <a href="{{ path('audio_edit', {'id': audio.id}) }}">edit</a>

    {{ include('audio/_delete_form.html.twig') }}
{% endblock %}
