{% extends 'base.html.twig' %}

{% block title %}KeepVibz | F.A.Q{% endblock %}

{% block body %}
<div class="wrap-faq">
<h2 class="title_page tac">F.A.Q</h2>
     <div class="block1_faq">
          <h4 class="title_bottom">Qu'est ce qu'un beatmaker ?
               <img class="btn_bottom_3 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center3 flex">
               <p class="text_faq">Un beatmaker, ou un concepteur rythmique, est un compositeur de morceaux instrumentaux pour rap, hip-hop ou RnB contemporain</p>
          </div>
     </div>

     <div class="block2_faq">
          <h4 class="title_bottom">Qu'est ce qu'un topliner ?
               <img class="btn_bottom_4 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center4">
               <p class="text_faq">Un topliner ou topline writer écrit la mélodie vocale et les paroles par-dessus une instrumentation ou un beat existant.</p>
          </div>
     </div>

     <div class="block3_faq">
          <h4 class="title_bottom">Comment nous contacter ?
               <img class="btn_bottom_5 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center5">
               <p class="text_faq">Pour nous contacter il vous suffit de vous rediriger vers l'onglet "Discord" en bas de la page d'accueil. Nous allons vous répondre au plus vite !</p>
          </div>
     </div>

     <div class="block4_faq">
          <h4 class="title_bottom">Avec quelle technologie est réalisé votre site ?
               <img class="btn_bottom_6 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center6">
               <p class="text_faq">Notre site est réalisé en symfony, Symfony est un ensemble de composants PHP ainsi qu'un framework MVC libre écrit en PHP. </p>
          </div>
     </div>

     <div class="block5_faq">
          <h4 class="title_bottom">Quel est l'intérêt de m'inscrire sur votre site ?
               <img class="btn_bottom_7 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center7">
               <p class="text_faq">S'inscrire vous permetterez de pouvoir upload vos sons, publier vos textes et plus encore ! Donc n'hesiter surtout pas a vous inscrire, c'est gratuit et cela vous débloque des tas de nouvelle possibilitées.</p>
          </div>
     </div>

     <div class="block6_faq">
          <h4 class="title_bottom">Comment contacter un auteur ?
               <img class="btn_bottom_8 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center8">
               <p class="text_faq">Si il le souhaite, cet auteur aura une partie "profil" dédié au partage de ses informations. cette partie n'est pas obligatoire pour ceux qui veulent garder leur anonymat </p>
          </div>
     </div>

     <div class="block7_faq">
          <h4 class="title_bottom">Comment supprimer du contenu ?
               <img class="btn_bottom_9 btn_faq" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz">
          </h4>
          <div class="submenu_center9">
               <p class="text_faq">Si un de vos chef d'oeuvre ne vous plait plus, aprés vous etre connectez il vous suffit de vous rendre dans votre espace personnel et c'est a cet endroit exact qu'un supression sera possible !</p>
          </div>
     </div>
</div>

{% endblock %}
