{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="mb-3">
        {{ form_row(form.title) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.instrus) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.file) }}
    </div>
    <div class="mb-3">
        <button class="btn app-btn-primary">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}