{{ form_start(form) }}    
    <div class="mb-3">
        {{ form_row(form.title)}}
    </div> 
    <div class="mb-3">
        {{ form_row(form.refrain)}}
    </div> 
    <div class="mb-3">
        {{ form_row(form.couplet)}}
    </div>
    <div class="mb-3">
        {{ form_widget(form.status)}}
        {{ form_errors(form.status)}}
    </div>
    <div class="mb-3">
        <button class="btn app-btn-primary">{{ button_label|default('Valider') }}</button>
    </div>
{{ form_end(form) }}
