<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
        {% if app.request.get('_route') != 'profile' %}
            {# PAGE DE CHARGEMENT #}
            <div class="chargement">
                <div id="preloader">
                    <div class="logo_chargement pa">
                        <img class="img_logo_chargement" src="{{asset('assets/images/logo2Fichier_4_svg.svg')}}" alt="logo">
                    </div>
                    <div class="loader">Please wait...</div>
                </div>
            </div>
            {# PAGE DE CHARGEMENT #}
        {% endif %}

        {# NAV MOBILE #}
        <div class="navigation_mobile">
            <div class="top_block_menu">
                <p class="title_nav">MENU</p>
            </div>
            <ul class="nav_mobile flex col aic">
                <li class="link_mobile"><a href="{{path('instrus')}}">Instrus</a></li>
                <li class="link_mobile"><a href="{{path('textes')}}">Textes</a></li>
            {% if app.user %}
                <li class="link_mobile"><a href="{{path('user_profile')}}">Profil</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="link_mobile"><a href="{{ path ('admin_dashboard') }}">Admin</a></li>
                {% endif %}
                <li><a href="{{ path ('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li class="link_mobile"><a href="{{path('user_new')}}">Inscription</a></li>
                <li class="link_mobile"><a href="{{path('app_login')}}">Connexion</a></li>
            {% endif %}
            </ul>
        </div>
        {# NAV MOBILE #}

        {# HEADER #}
        <header id="header" class="header fixed">
            <h1 class="site">KeepVibz</h1>
            <div class="wrap1 flex sb">
                <div class="left flex">
                    <div class="logo">
                        <a href="{{path('home')}}"><img class="img_logo" src="{{asset('assets/images/logo2Fichier_4_svg.svg')}}" alt="logo"></a>
                    </div>
                    <nav class="navigation">
                        <ul class="nav flex">
                            <li class="link"><a href="{{path('instrus')}}">Instrus</a></li>
                            <li class="link"><a href="{{path('textes')}}">Textes</a></li>
                        </ul>
                    </nav>
                </div>
                {# MOBILE A PARTIR DE 615px #}
                <div class="top_header flex col">
                    <div class="logo_mobile">
                        <a href="/"><img class="img_logo_mobile" src="{{asset('assets/images/logo2Fichier_4_svg.svg')}}" alt="logo sur mobile"></a>
                    </div>
                    <div class="block_burger">
                        <a class="btn_burger" href="#"><img class="button_burger" src="{{asset('assets/images/logo_mobile.png')}}" alt="logo sur mobile"></a>
                    </div>
                </div>
                {# MOBILE A PARTIR DE 615px #}
                <div class="right">
                {% if app.user %}
                        <a href="{{ path ('user_profile') }}">Profil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <span><a href="{{ path ('admin_dashboard') }}">Admin</a></span>
                        {% endif %}
                        <a href="{{ path ('app_logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path ('app_register') }}">Inscription</a>
                        <a class="link_connexion" href="{{ path ('app_login') }}">Connexion</a>
                {% endif %}
                </div>
            </div>
            <div class="wrap2 flex fs">
                <div class="search flex fs">
                    <img class="icon_search" src="{{asset('assets/images/icons/icon_search.svg')}}" alt="icon search">
                    <input type="text" name="search" id="search" placeholder="Tapes ta recherche">
                    <button class="btn_search">Filtres</button>
                    <img class="icon_arrow" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="icon arrow">
                    <div class="block_filters">
                        <ul class="filters">
                            <li class="filter">Hip hop</li>
                            <li class="filter">Trap</li>
                            <li class="filter">Rnb</li>
                            <li class="filter">Pop</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        {# HEADER #}
        {% block body %}

        {% endblock %}
        {# SECTION FIXE AVANT FOOTER #}
        <section class="section_bottom flex aic wrap">
            <div class="wrap4 flex wrap sb">
                <div class="left_bottom flex col aic">
                    <a class="link_img_logo_bottom" href="/"><img class="img_logo_bottom" src="{{asset('assets/images/logo2Fichier_4_svg.svg')}}" alt="logo"></a>
                    <div class="block_social_icons flex sb wrap">
                        <a href="#" class="social_icon"><img src="{{asset('assets/images/icons/social_blanc/facebook-3-64.png')}}" alt="icone facebook"></a>
                        <a href="#" class="social_icon"><img src="{{asset('assets/images/icons/social_blanc/instagram-3-64.png')}}" alt="icone instagram"></a>
                        <a href="#" class="social_icon"><img src="{{asset('assets/images/icons/social_blanc/linkedin-3-64.png')}}" alt="icone linkedin"></a>
                        <a href="#" class="social_icon"><img src="{{asset('assets/images/icons/social_blanc/twitter-3-64.png')}}" alt="icone twitter"></a>
                    </div>
                </div>
                {# ====================================================== #}
                <div class="center2 flex col">
                    <h4 class="title_bottom">Navigation<img class="btn_bottom_navigation" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu Navigation"></h4>
                    <ul class="nav_bottom1">
                        <li><a href="#">Toutes les Instrus</a></li>
                        <li><a href="{{path('textes')}}">Tous les Textes</a></li>
                        <li><a href="{{path('home')}}#instrus_populaires">Le Top 10 des Instrus</a></li>
                        <li><a href="{{path('home')}}#textes_populaires">Textes qui ont la côte</a></li>
                    </ul>
                    {# ====================================================== #}
                    {# SUB MENU NAVIGATION MOBILE #}
                    <div class="submenu_center2">
                        <ul class="nav_bottom2">
                            <li><a href="{{path('instrus')}}">Toutes les Instrus</a></li>
                            <li><a href="{{path('textes')}}">Tous les Textes</a></li>
                            <li><a href="{{path('home')}}#instrus_populaires">Le Top 10 des Instrus</a></li>
                            <li><a href="{{path('home')}}#textes_populaires">Textes qui ont la côte</a></li>
                        </ul>
                    </div>
                </div>
                {# ====================================================== #}
                <div class="center1 flex col">
                    <h4 class="title_bottom">Keepvibz<img class="btn_bottom_keepvibz" src="{{asset('assets/images/icons/arrow-204-64.png')}}" alt="bouton pour déployer le sous-menu KeepVibz"></h4>
                    <ul class="nav_bottom1">
                        <li><a href="{{path('home')}}">Accueil</a></li>
                        <li><a href="{{path('mention')}}">Mentions légales</a></li>
                        <li><a href="#">F.A.Q.</a></li>
                        <li><a href="#">Discord</a></li>
                    </ul>
                    {# ====================================================== #}
                    {# SUB MENU KEEPVIBZ MOBILE #}
                    <div class="submenu_center1">
                        <ul class="nav_bottom2">
                            <li><a href="{{path('home')}}">Accueil</a></li>
                            <li><a href="{{path('mention')}}">Mentions légales</a></li>
                            <li><a href="#">F.A.Q.</a></li>
                            <li><a href="https://discordapp.com/api/webhooks/853901045997240330/P6HlChYkw_Xu-teZLKC9pDrYEp_wLZPjrQ3kN7ag1me1zY2baSTQMWSAwjLm68DCu80b/github">Discord</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_bottom flex col">
                    <h4 class="title_bottom">Statistiques</h4>
                    <div class="block_statistiques flex sb wrap">
                        <div class="left_block_statistiques flex col">
                            <div class="left1 flex col">
                                <h5 class="visites">Visites</h5>
                                <p class="number">0</p>
                            </div>
                            <div class="left2 flex col">
                                <h5 class="posts">Posts</h5>
                                <p class="number">0</p>
                            </div>
                        </div>
                        <div class="right_block_statistiques flex col">
                            <div class="right1 flex col">
                                <h5 class="membres">Membres</h5>
                                <p class="number">0</p>
                            </div>
                            <div class="right2 flex col">
                                <h5 class="en_ligne">En ligne</h5>
                                <p class="number">0</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {# SECTION FIXE AVANT FOOTER #}

        {# FOOTER #}
        <footer>
            <div id="footer" class="footer flex aic sb">
                <div class="wrap4 flex wrap jcc">
                    <p class="copyright" style="color: #fff">© 2021 KeepVibz</p>
                    
                </div>
            </div>
        </footer>
        {# FOOTER #}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    </body>
</html>
