{% extends 'admin-base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Annonces</h1>
				    </div>
				    <div class="col-auto">
					     <div class="page-utilities">
						    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
							    <div class="col-auto">
								    <form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Rechercher</button>
					                    </div>
					                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                    <div class="col-auto">
                        <a class="btn app-btn-secondary mb-3" href="{{ path('annonce_new') }}">Publier une annonce</a>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <thead>
                                            <tr>
                                                <th class="cell">Référence</th>
                                                <th class="cell">Title</th>
                                                <th class="cell">Auteur</th>
                                                <th class="cell">Catégorie(s)</th>
                                                <th class="cell">Région</th>
                                                <th class="cell">Description</th>
                                                <th class="cell">Status</th>
                                                <th class="cell">Date de publication</th>
                                                <th class="cell">Dernière modification</th>
                                                <th class="cell">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for annonce in annonces %}
                                            <tr>
                                                <td class="cell">#{{ annonce.id }}</td>
                                                <td class="cell">{{ annonce.title }}</td>
                                                <td class="cell">{{ annonce.user.name }}</td>
                                                <td class="cell">
                                                    {% for category in annonce.categories %}
                                                        <span> {{category.title}} </span><br>
                                                    {% endfor %}
                                                </td>
                                                <td class="cell">{{ annonce.region.title }}</td>
                                                <td class="cell">{{ annonce.description }}</td>
                                                <td class="cell">
                                                    {% if 'published' in annonce.status %}
                                                        <span class="badge bg-success">Publié</span>
                                                    {% endif %}
                                                    {% if 'refused' in annonce.status %}
                                                        <span class="badge bg-danger">Refusé</span>
                                                    {% endif %}
                                                    {% if 'draft' in annonce.status %}
                                                        <span class="badge bg-warning">Brouillon</span>
                                                    {% endif %}
                                                </td>
                                                <td class="cell">
                                                    <span class="cell-data">{{ annonce.createdAt ? annonce.createdAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ annonce.createdAt ? annonce.createdAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell"><span class="cell-data">{{ annonce.modifiedAt ? annonce.modifiedAt|date('d/m/Y') : '' }}</span>
                                                    <span class="note">{{ annonce.modifiedAt ? annonce.modifiedAt|date('H:i') : '' }}</span>
                                                </td>
                                                <td class="cell">
                                                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}" class="btn-sm app-btn-secondary">Détails</a>
                                                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}" class="btn-sm app-btn-secondary">Modifier</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td  class="cell" colspan="5">Aucun résultat trouvé</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {{include('pagination.html.twig')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
