{% extends 'admin-base.html.twig' %}

{% block title %}{{annonce.title}}{% endblock %}

{% block body %}
    <div class="app-wrapper">
	    
	    <div class="app-content pt-3 p-md-3 p-lg-4">
		    <div class="container-xl">
			    
			    <div class="row g-3 mb-4 align-items-center justify-content-between">
				    <div class="col-auto">
			            <h1 class="app-page-title mb-0">Détail</h1>
				    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover mb-0 text-left">
                                        <tbody>
                                            <tr>
                                                <th class="cell">Référence</th>
                                                <td class="cell">#{{ annonce.id }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Titre</th>
                                                <td class="cell">{{ annonce.title }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Auteur</th>
                                                <td class="cell">{{ annonce.user.name }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Catégorie(s)</th>
                                                <td class="cell">
                                                    {% for category in annonce.categories %}
                                                        <span> {{category.title}} </span><br>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Région</th>
                                                <td class="cell">{{ annonce.region.title }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Description</th>
                                                <td class="cell">{{ annonce.description }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Status</th>
                                                <td class="cell">
                                                    {% if 'published' in annonce.status %}
                                                        <span class="badge bg-success">Publié</span>
                                                    {% endif %}
                                                    {% if 'refused' in annonce.status %}
                                                        <span class="badge bg-danger">Refusé</span>
                                                    {% endif %}
                                                    {% if 'draft' in annonce.status %}
                                                        <span class="badge bg-warning">Brouillon</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Date de publication</th>
                                                <td class="cell">{{ annonce.createdAt ? annonce.createdAt|date('d/m/Y, H:i') : '' }}</td>
                                            </tr>
                                            <tr>
                                                <th class="cell">Dernière modification</th>
                                                <td class="cell">{{ annonce.modifiedAt ? annonce.modifiedAt|date('d/m/Y, H:i') : '' }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="container mt-3">
                                        <div class="row">
                                            <div class="col-auto">
                                                <a class="btn app-btn-secondary" href="{{ path('annonce_edit', {'id': annonce.id}) }}">Modifier</a>
                                            </div>
                                            <div class="col-auto">
                                                {{ include('admin/annonce/_delete_form.html.twig') }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
