{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>Region index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.title }}</td>
                <td>{{ region.createdAt ? region.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ region.modifiedAt ? region.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ region.deletedAt ? region.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}">show</a>
                    <a href="{{ path('region_edit', {'id': region.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_new') }}">Create new</a>
{% endblock %}
